extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
  
  +alert-success(5000)
  +alert-error(5000)
        

  h1 Danh sách sản phẩm

  .card.mb-3.shadow-box
    .card-header Bộ lọc và tìm kiếm 
    .card-body
      .row
        .col-6
          +fillter-status(filterStatus)
        .col-6 
          +search(keyword)
  
  .card.mb-3.shadow-box
    .card-header Sắp xếp 
    .card-body 
      .row 
        .col-4 
          +sort()

  .card.mb-3 
    .card-header Danh sách sản phẩm 
    .card-body.shadow-box
      .row 
        .col-8
          +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
        .col-4 
          a(
            href=`${prefixAdmin}/products/create`
            class="btn btn-outline-success"
          ) + Thêm mới

      table(
        class="table table-hover talble-sm"
        checkbox-multi
      ) 
        thead 
          tr
            th 
              input(type="checkbox" name="checkall")
            th STT
            th Hình ảnh
            th Tiêu đề
            th Giá
            th Vị trí
            th Trạng thái
            th Aciton
        
        tbody
          each item, index in products 
            tr
              td 
                input(type="checkbox" name="id" value=item.id)
              td #{pagination.limitItem*(pagination.currentPage - 1) + (index + 1)}
              td  
                img(src=item.thumbnail alt=item.title width="100px" height="auto")
              td #{item.title}
              td #{item.price}$
              td
                input(type="number" value=item.position style="width: 60px" min="1" name="position")
              td
                if(item.status == "active")
                  a(
                    href="javascript:;"
                    data-status=item.status
                    data-id=item.id
                    button-change-status
                    class="badge badge-success"
                  ) Hoạt động 
                else 
                  a(
                    href="javascript:;"
                    data-status=item.status
                    data-id=item.id
                    button-change-status
                    class="badge badge-danger"
                  ) Dừng hoạt động
              td.d-flex
                a(href=`${prefixAdmin}/products/detail/${item.id}` data-toggle="tooltip", data-placement="top", title="Chi tiết" class="btn btn-secondary btn-sm mr-1")
                  i.fa-solid.fa-info.p-1
                if(statusBin == "bin")
                  button(class="btn btn-warning btn-sm" data-toggle="tooltip", data-placement="top", title="Khôi phục" button-restore data-id=item.id)
                    i.fa-solid.fa-trash-can-arrow-up.p-1
                else 
                  a(href=`${prefixAdmin}/products/edit/${item.id}` data-toggle="tooltip", data-placement="top", title="Chỉnh sửa" class="btn btn-warning btn-sm")
                    i.fa-solid.fa-pen-to-square.text-light.p-1
                button(class="btn btn-danger btn-sm ml-1" data-toggle="tooltip", data-placement="top", title="Xóa" button-delete data-id=item.id) 
                  i.fa-solid.fa-trash-can.p-1 


  div(class="d-flex justify-content-center")
    +pagination(pagination)

  form(action="" method="POST" id="form-change-status" data-path=`${prefixAdmin}/products/change-status`)

  form(action="" method="POST" id="form-delete-item" data-path=`${prefixAdmin}/products/delete`)
    .form-group 
        input(type="text" name="typeAction" value="" class="form-control d-none")

  form(action="" method="POST" id="form-restore-item" data-path=`${prefixAdmin}/products/restore`)
  

  script(src="/admin/js/product.js")

  