extends ../../layouts/default.pug

block main
 
  .container.my-5
    .row.justify-content-center
      .col-md-6.col-lg-5
        .card.shadow-lg
          .card-body.p-5
            h3.text-center.mb-4.font-weight-bold Register

            form(action=`/user/register` method="POST")
              .form-group.mb-4
                label.text-muted(for="fullName") Full Name
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-user
                  input(
                    type="text"
                    class="form-control"
                    id="fullName"
                    name="fullName"
                    placeholder="Enter your full name"
                    required
                  )

              .form-group.mb-4
                label.text-muted(for="email") Email Address
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-envelope
                  input(
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter your email"
                    required
                  )

              .form-group.mb-4
                label.text-muted(for="password") Password
                .input-group
                  .input-group-prepend
                    span.input-group-text
                      i.fas.fa-lock
                  input(
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter your password"
                    required
                  )
                  span.input-group-text.text-right.display-password
                    i.fas.fa-eye-slash  

              .form-group.mb-0.text-center
                button(
                  type="submit"
                  class="btn btn-primary btn-block py-2"
                ) Verify

              hr.my-4

              .text-center.text-muted
                small Your satisfaction is our priority

  script(type="module", src="/js/script")
