extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main

  .container.py-5
    +alert-error(3000)
    +alert-success(3000)
    .row.justify-content-center
      .col-md-8
        .card.shadow-sm
          .card-header.bg-primary.text-white
            h1.h3.mb-0 
              i.fas.fa-user-edit.mr-2
              | Edit Profile
          .card-body
            

            form(
              action=`${prefixAdmin}/my-account/edit?_method=PATCH`
              method="POST"
              enctype="multipart/form-data"
            )
              .row
                .col-md-8
                  .form-group
                    label(for="fullName")
                      i.fas.fa-user.mr-2
                      | Full Name
                    input(
                      type="text"
                      class="form-control"
                      id="fullName"
                      name="fullName"
                      value=user.fullName
                      required
                    )

                  .form-group
                    label(for="email")
                      i.fas.fa-envelope.mr-2
                      | Email
                    input(
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      value=user.email
                      required
                    )

                  .form-group
                    label(for="password")
                      i.fas.fa-lock.mr-2
                      | Password
                    .input-group
                      input(
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                      )
                      .input-group-append
                        button.btn.btn-outline-secondary(type="button" onclick="togglePassword()")
                          i.fas.fa-eye

                  .form-group
                    label(for="phone")
                      i.fas.fa-phone.mr-2
                      | Phone
                    input(
                      type="tel"
                      class="form-control"
                      id="phone"
                      name="phone"
                      value=user.phone
                    )

                .col-md-4
                  .form-group.text-center
                        div(upload-image)
                            .avatar-wrapper.mb-3
                                img(
                                    src=user.avatar
                                    upload-image-preview
                                    class="image-preview img-thumbnail rounded-circle"
                                    style="width: 150px; height: 150px; object-fit: cover;"
                                )
                            .custom-file
                                input(
                                    type="file"
                                    class="form-control-file"
                                    id="avatar"
                                    name="avatar"
                                    accept="image/*"
                                    upload-image-input
                                )
              .form-group.text-center.mt-4
                button(
                  type="submit"
                  class="btn btn-primary btn-lg px-5"
                )
                  i.fas.fa-save.mr-2
                  | Update Profile

  style.
    .avatar-wrapper {
      position: relative;
      display: inline-block;
    }
    .avatar-wrapper:hover::after {
      content: 'Change Avatar';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.7);
      color: white;
      padding: 5px;
      font-size: 12px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

  script.
    function togglePassword() {
      const passwordInput = document.getElementById('password');
      const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInput.setAttribute('type', type);
      const icon = event.currentTarget.querySelector('i');
      icon.classList.toggle('fa-eye');
      icon.classList.toggle('fa-eye-slash');
    }