.sider
  .inner-menu 
    ul 
      li 
        a(href=`${prefixAdmin}/dashboard`)
          i.fa-solid.fa-gauge.mr-2
          span Tổng quan
      li 
        a(href=`${prefixAdmin}/products-category`)
          i.fa-solid.fa-table-list.mr-2
          span Danh mục sản phẩm
      li 
        a(href=`${prefixAdmin}/products`)
          i.fa-brands.fa-product-hunt.mr-2
          span Danh mục sản phẩm
      li 
        a(href=`${prefixAdmin}/roles`)
          i.fa-solid.fa-users-gear.mr-2
          span Nhóm quyền
      li 
        a(href=`${prefixAdmin}/roles/permissions`)
          i.fa-solid.fa-person-circle-question.mr-2
          span Phân quyền
      li 
        a(href=`${prefixAdmin}/accounts`)
          i.fa-solid.fa-user.mr-2
          span Danh sách tài khoản